<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div>
        
        <table class="table-auto w-full">
            <thead class="bg-[var(--color2)]">
              <tr>
                <th class="text-white py-2">Category</th>
                <th class="text-white py-2">Sub-Categories</th>
              </tr>
            </thead>
            <tbody>

                <% categories.forEach(category => {%> 
                    <tr class="border-2">
                        <td class="text-black py-2 text-center"><%= category.name %></td>
                        <td class="text-black py-2 text-center">
                            <% category.subCategories.forEach(subcategory => {%> 
                                <%= subcategory.name %>
                                <br>
                            <%}) %>
                        </td>
                    </tr>
                <%}) %>
            </tbody>
        </table>
    </div>

    <br><br>
    
    <div>
        <div class="my-4 text-center text-3xl font-extrabold">Add Category</div>
        <form action="/admin-add-category" method="post" class="flex flex-col text-center items-center">

            <input class="text-center" placeholder="category" type="text" name="addCategory"/>
            <input class="text-center" placeholder="image-url" type="text" name="addCategoryImage">
            <button type="submit">Add Category</button>
        </form>

        <br><br>
        <div class="my-4 text-center text-3xl font-extrabold">Add Sub-Category</div>
        <form action="/admin-add-subcategory" method="post" class="flex flex-col text-center items-center">

            <select name="selectCategory" class="text-center">
                <% categories.forEach(category => {%> 
                        <option value="<%= category.name %>"><%= category.name %></td>
                <%}) %>
            </select>

            <input class="text-center" type="text" placeholder="subcategory" name="addSubCategory">

            <input class="text-center" placeholder="image-url" type="text" name="addSubCategoryImage">

            <button type="submit">Add SubCategory</button>
        </form>
        <br><br>
        <div class="my-4 text-center text-3xl font-extrabold">Delete Category</div>
        <form action="/admin-delete-category" method="post" class="flex flex-col text-center items-center">

            <select name="selectedCategory">
                <% categories.forEach(category => {%> 
                    <option value="<%= category.name %>"><%= category.name %></option>
                <%}) %>
            </select>
            <button type="submit">Delete Category</button>
        </form>

        <br><br>

        <div class="my-4 text-center text-3xl font-extrabold">Delete Sub-Category</div>
        <form action="/admin-delete-subcategory" method="post" class="flex flex-col text-center items-center">
            <select name="selectedCategory">
                <% categories.forEach(category => {%> 
                    <option value="<%= category.name %>"><%= category.name %></option>
                <%}) %>
            </select>
            <input class="text-center" type="text" placeholder="subcategory" name="deleteSubCategory">
            <button type="submit">Delete SubCategory</button>
        </form>
        
    </div>
</body>
</html>