<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header-admin') %>
      </header>
    <div>
        <table class="table-auto w-full">
            <thead class="bg-[var(--color2)]">
              <tr>
                <th class="text-white py-2">Name</th>
                <th class="text-white py-2">Freelancer Email</th>
                <th class="text-white py-2">Price</th>
                <th class="text-white py-2">Subcategory</th>
                <th class="text-white py-2">Description</th>
                
              </tr>
            </thead>
            <tbody>
                <% gigs.forEach(gig => {%> 
                    <tr>
                        <td class="text-black py-2 text-center"><%= gig.name %></td>
                        <td class="text-black py-2 text-center"><%= gig.freelancerEmail %></td>
                        <td class="text-black py-2 text-center"><%= gig.price %></td>
                        <td class="text-black py-2 text-center"><%= gig.subCategory %></td>
                        <td class="text-black py-2 text-center"><%= gig.description %></td>
                    </tr>
                <%}) %>
            </tbody>
        </table>
    </div>
</body>
</html>