<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header-admin') %>
      </header>
    <div>
        <table class="table-auto w-full">
            <thead class="bg-[var(--color2)]">
              <tr>
                <th class="text-white py-2">First Name</th>
                <th class="text-white py-2">Last Name</th>
                <th class="text-white py-2">Email</th>
                
              </tr>
            </thead>
            <tbody>
                <% users.forEach(user => {%> 
                    <tr>
                        <td class="text-black py-2 text-center"><%= user.firstName %></td>
                        <td class="text-black py-2 text-center"><%= user.lastName %></td>
                        <td class="text-black py-2 text-center"><%= user.email %></td>
                    </tr>
                <%}) %>
            </tbody>
        </table>
    </div>


    <div class="my-4 text-center text-3xl font-extrabold">Delete details</div>
    <div class="flex flex-col text-center">
        <form action="/admin-delete" method="post">
            <select class="p-1 rounded-lg" name="deleteFromEmail">
                <% users.forEach(user => {%> 
                        <option value="<%= user.email %>"><%= user.email %></td>
                <%}) %>

            </select>
            <button type="submit">Delete</button>
          </form>
    </div>
</body>
</html>