<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header-admin') %>
      </header>
    
    <div>
        <table class="table-auto w-full">
            <thead class="bg-[var(--color2)]">
              <tr>
                <th class="text-white py-2">Name</th>
                <th class="text-white py-2">Email</th>
                <th class="text-white py-2">Message</th>
                
              </tr>
            </thead>
            <tbody>
                <% messages.forEach(message => {%> 
                    <tr>
                        <td class="text-black py-2 text-center"><%= message.name %></td>
                        <td class="text-black py-2 text-center"><%= message.email %></td>
                        <td class="text-black py-2 text-center"><%= message.message %></td>
                    </tr>
                <%}) %>
            </tbody>
        </table>
    </div>

</body>
</html>