<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div class="bg-[url(<%= category.imageUrl %>)] bg-cover" style="background-image: url('<%= category.imageUrl %>')" >

    <header>
      <% if(loggedIn === true){ %>
      <%- include('../partials/header_category') %>
      <% } else{ %>
      <%- include('../partials/header_category_nol') %>
      <% } %>
    </header>

    <div class="text-white font-bold items-center flex justify-center p-40 text-4xl h-40 pb-14">
      <h1><%= category.name %></h1>
    </div>
    <br> <br> <br> <br>
  </div>

  <div>
    <div class="sub-categories flex flex-wrap justify-evenly font-light p-4">

      <%category.subCategories.forEach(i => {%>
      <div class="sc xl:w-1/5 md:w-1/2 p-4">
        <a href="/graphics-design/logo-design">
          <img class="h-40 rounded-lg w-full object-cover object-center border-2" src="<%= i.imageUrl %>"><br>
          <h1 class="text-2xl font-bold"><%= i.name %></h1>
        <br>
        </a>
      </div>
      <%})%>

    </div>

    <footer>

      <%- include('../partials/footer') %>
    </footer>
</body>

</html>